{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>#}
<script type="text/javascript" src="{% static 'js/fabric.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/tshirtEditor.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.miniColors.min.js'%}"></script>

    <!-- Le styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.miniColors.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
    <link href="{% static 'css/bootstrap-responsive.css'%}" rel="stylesheet">
  </head>
<body>
    <div class="col-md-12" style="margin-top: 100px">
        <div class="col-md-4">
                <div id="shirtDiv" class="page" style="width: 230px; height: 350px; position: relative; background-color: rgb(255, 255, 255);">
                <img id="tshirtFacing" src="{{ buy_form.clothe.front_img.url }}">
                <div id="drawingArea" style="position: absolute;top: 100px;left: 135px;z-index: 10;width: 230px;height: 350px;">
                    <canvas id="tcanvas" width=230 height="350" class="hover" style="-webkit-user-select: none;"></canvas>
                </div>
            </div>
            <input id="front_img" type="hidden" value="{{ buy_form.canvas_img_front }}">
            <input id="back_img" type="hidden" value="{{ buy_form.canvas_img_back }}">
            <div class="pull-right" align="" id="imageeditor" style="">
                <div class="btn-group">
                    <button id="flip" type="button" class="btn" title="Show Back View">
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h3 id="demo" style=""></h3>
            <img id="canvas_front_img" src="" width="200" height="200">
            <h3 id="demo1" style=""></h3>
            <img id="canvas_back_img" src="" width="200" height="200">
        </div>
{#        <div class="col-md-3">#}
{#            <h3 id="demo1" style=""></h3>#}
{#            <img id="canvas_back_img" src="" width="400" height="400">#}
{#        </div>#}
    </div>
</body>
    <script src="{% static 'js/bootstrap.js' %}"></script>
<script>
  var obj1 = document.getElementById('front_img').value;
  var obj2 = document.getElementById('back_img').value;
  var obj_front = JSON.parse(obj1);
  if (document.getElementById('back_img').value == ''){
      document.getElementById("canvas_front_img").src = obj_front.objects[0].src;
      if (obj_front.objects[0].type == 'text') {
        document.getElementById("demo").innerHTML = obj_front.objects[0].text;
      }else if (obj_front.objects[0].type == 'image'){
          document.getElementById("demo").innerHTML = obj_front.objects[1].text;
      }
  }else if (document.getElementById('back_img').value != ''){
        var obj_back = JSON.parse(obj2);
        document.getElementById("canvas_front_img").src = obj_front.objects[0].src;
        document.getElementById("canvas_back_img").src = obj_back.objects[0].src;
      if (obj_front.objects[0].type == 'text') {
          document.getElementById("demo").innerHTML = obj_front.objects[0].text;
          document.getElementById("demo1").innerHTML = obj_back.objects[0].text;
      }else if (obj_front.objects[0].type == 'image'){
          document.getElementById("demo").innerHTML = obj_front.objects[1].text;
          document.getElementById("demo1").innerHTML = obj_back.objects[1].text;
      }
      if (obj_back.objects[0].type == 'text') {
          document.getElementById("demo").innerHTML = obj_front.objects[0].text;
          document.getElementById("demo1").innerHTML = obj_back.objects[0].text;
      }else if (obj_back.objects[0].type == 'image'){
          document.getElementById("demo").innerHTML = obj_front.objects[1].text;
          document.getElementById("demo1").innerHTML = obj_back.objects[1].text;
      }
  }

</script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35639689-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  var a;
  var b;
  var obj1 = document.getElementById('front_img').value;
  var obj2 = document.getElementById('back_img').value;
  var obj_front = JSON.parse(obj1);
	   $('#flip').click(
		   function() {
               canvas.clear();
			   	if ($(this).attr("data-original-title") == "Show Back View") {
			   		$(this).attr('data-original-title', 'Show Front View');
			        $("#tshirtFacing").attr("src","{{ buy_form.clothe.front_img.url }}");
{#                    document.getElementById('shirtDiv').style = 'display: inline';#}
{#                    if (document.getElementById('back_img').value == ''){#}
{#                        if (obj_front.objects[0].type == 'text') {#}
{#                            var text = new fabric.Text(obj_front.objects[0].text, {#}
{#                                left: obj_front.objects[0].left,#}
{#                                top: obj_front.objects[0].top,#}
{#                                fontSize: obj_front.objects[0].fontSize,#}
{#                                strokeWidth: obj_front.objects[0].strokeWidth,#}
{#                                originX: obj_front.objects[0].originX,#}
{#                                originY: obj_front.objects[0].originY,#}
{#                                fill: obj_front.objects[0].fill#}
{#                            });#}
{#                            canvas.add(text);#}
{#                        }#}
{#                    }else if (document.getElementById('back_img').value != ''){#}
{#                        var text_front = new fabric.Text(obj_front.objects[0].text, {#}
{#                                left: obj_front.objects[0].left,#}
{#                                top: obj_front.objects[0].top,#}
{#                                fontSize: obj_front.objects[0].fontSize,#}
{#                                strokeWidth: obj_front.objects[0].strokeWidth,#}
{#                                originX: obj_front.objects[0].originX,#}
{#                                originY: obj_front.objects[0].originY,#}
{#                                fill: obj_front.objects[0].fill#}
{#                            });#}
{#                            canvas.add(text_front);#}
{#                    }#}
                    a = document.getElementById('front_img').value;
                    canvas.loadFromJSON(a);
			    } else {
                    canvas.clear();
			    	$(this).attr('data-original-title', 'Show Back View');
			    	$("#tshirtFacing").attr("src","{{ buy_form.clothe.back_img.url }}");
                    b = document.getElementById('back_img').value;
                    canvas.loadFromJSON(b);
			   	canvas.renderAll();
			   	setTimeout(function() {
			   		canvas.calcOffset();
			    },200);
        } });
</script>
</html>
{% endblock %}