{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VID's T-Shirts</title>

    <!-- Bootstrap Core CSS -->
{#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}

    <!-- Custom CSS -->
{#    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">#}

    <!-- Custom Fonts -->
{#    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
{#	<script type="text/javascript" src="{% static 'js/fabric.js'%}"></script>#}
{#	<script type="text/javascript" src="{% static 'js/tshirtEditor.js'%}"></script>#}
{#	<script type="text/javascript" src="{% static 'js/jquery.miniColors.min.js'%}"></script>#}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/yourstyle.css'%}" /> -->
    <!-- Le styles -->
{#    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.miniColors.css'%}" />#}
{#    <link href="{% static 'css/bootstrap-responsive.css'%}" rel="stylesheet">#}

</head>
<style>
.col-md-12-table{
    margin-top: 150px;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #fffffc;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.col-md-3-body{
    margin-top: 65px;
    margin-bottom: 2%;
    background-color: #e5e5e2;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.col-md-8-body{
    margin-bottom: 2%;
    margin-top: 65px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #e5e5e2;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
</style>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: rgba(34, 34, 34, 0.82)">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">VID's T-Shorts</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Написать нам</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% block content %}

    {% endblock %}
    <div class="col-md-10" style="margin-left: 8%; margin-right: 10%; ">


        <!-- Footer -->
        <br> <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Created by Iliyaz Kazikhodzhaev in 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
{#    <script src="{% static 'js/jquery.js' %}"></script>#}

    <!-- Bootstrap Core JavaScript -->
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    <script type="text/javascript">

{#        $('#flip').click(#}
{#		   function() {#}
{#			   	if ($(this).attr("data-original-title") == "Show Back View") {#}
{#			   		$(this).attr('data-original-title', 'Show Front View');#}
{#			        $("#tshirtFacing").attr("src","{{ clothe.front_img.url }}");#}
{#			        a = JSON.stringify(canvas);#}
{#                    var front_imageCopy = document.getElementById("savedImageCopy");#}
{#                    // Отображаем данные холста в элементе <img>#}
{#                    front_imageCopy.value = canvas.toDataURL();#}
{#                    // Показываем элемент <div>, делая изображение видимым#}
{#                    // делая изображение видимым#}
{#                    var front_imageContainer = document.getElementById("savedCopyContainer");#}
{#                    front_imageContainer.style.display = "block";#}
{#                    canvas.clear();#}
{#                    document.getElementById('shirtDiv').style.display='block';#}
{#			        try#}
{#			        {#}
{#			           var json = JSON.parse(b);#}
{#			           canvas.loadFromJSON(b);#}
{#			        }#}
{#			        catch(e)#}
{#			        {}#}
{##}
{##}
{#			    } else {#}
{#			    	$(this).attr('data-original-title', 'Show Back View');#}
{#			    	$("#tshirtFacing").attr("src","{{ clothe.back_img.url }}");#}
{#			    	b = JSON.stringify(canvas);#}
{#                    var back_imageCopy = document.getElementById("savedImageBack");#}
{##}
{#                    // Отображаем данные холста в элементе <img>#}
{#                    back_imageCopy.value = canvas.toDataURL();#}
{##}
{#                    // Показываем элемент <div>, делая изображение видимым#}
{#                    // делая изображение видимым#}
{#                    var back_imageContainer = document.getElementById("savedBackContainer");#}
{#                    back_imageContainer.style.display = "block";#}
{#			    	canvas.clear();#}
{#                    document.getElementById('shirtDiv1').style.display='none';#}
{#			    	try#}
{#			        {#}
{#			           var json = JSON.parse(a);#}
{#			           canvas.loadFromJSON(a);#}
{#			        }#}
{#			        catch(e)#}
{#			        {}#}
{#			    }#}
{#			   	canvas.renderAll();#}
{#			   	setTimeout(function() {#}
{#			   		canvas.calcOffset();#}
{#			    },200);#}
{#        });#}
</script>
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}

</body>

</html>
