{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>#}
<script type="text/javascript" src="{% static 'js/fabric.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/tshirtEditor.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.miniColors.min.js'%}"></script>
	
    <!-- Le styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.miniColors.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
    <link href="{% static 'css/bootstrap-responsive.css'%}" rel="stylesheet">
	 <script type="text/javascript">
	 </script>
	 <style type="text/css">
		 .footer {
			padding: 70px 0;
			margin-top: 70px;
			border-top: 1px solid #E5E5E5;
			background-color: whiteSmoke;
			}			
	      body {
	        padding-top: 60px;	        
	      }
	      .color-preview {
	      	border: 1px solid #CCC;
	      	margin: 2px;
	      	zoom: 1;
	      	vertical-align: top;
	      	display: inline-block;
	      	cursor: pointer;
	      	overflow: hidden;
	      	width: 20px;
	      	height: 20px;
	      }
	      .rotate {  
		    -webkit-transform:rotate(90deg);
		    -moz-transform:rotate(90deg);
		    -o-transform:rotate(90deg);
		    /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
		    -ms-transform:rotate(90deg);		   
		}
		.Arial{font-family:"Arial";}
		.Helvetica{font-family:"Helvetica";}
		.MyriadPro{font-family:"Myriad Pro";}
		.Delicious{font-family:"Delicious";}
		.Verdana{font-family:"Verdana";}
		.Georgia{font-family:"Georgia";}
		.Courier{font-family:"Courier";}
		.ComicSansMS{font-family:"Comic Sans MS";}
		.Impact{font-family:"Impact";}
		.Monaco{font-family:"Monaco";}
		.Optima{font-family:"Optima";}
		.HoeflerText{font-family:"Hoefler Text";}
		.Plaster{font-family:"Plaster";}
		.Engagement{font-family:"Engagement";}

	 </style>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    <div class="container">
		<section id="typography">
<!-- 		  <div class="page-header">
		    <h1>VID's T-Shirts editor</h1>
		  </div> -->
		
		  <!-- Headings & Paragraph Copy -->
		  <div class="row">			
		    <div class="col-md-3">
		    	
		    	<div class="tabbable"> <!-- Only required for left/right tabs -->
{#				  <ul class="nav nav-tabs">#}
{#				  	<li class="active"><a href="#tab1" data-toggle="tab">T-Shirt Options</a></li>				    #}
{#				    <li><a href="#tab2" data-toggle="tab">Gravatar</a></li>#}
{#				  </ul>#}
				  <div class="tab-content">
				    <div class="tab-pane active" id="tab2">
				    	<div class="well">
				    		<div class="input-append">
                                <h4>Добавить текст</h4>
							  <input class="span2 form-control" id="text-string" type="text" placeholder="add text here...">
                                <button id="add-text" class="btn" title="Add text" style="margin-left: 2%; height: 35px; width: 50px">
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                </button>
							  <hr>
							</div>
                            <h4>Загрузить личное фото</h4>
                            <input type="file" id="imgLoader" class="btn btn-default" style="width: 100%">
                            <hr class="yourstyle-hr">
                            <h4>Аватар лист</h4>
							<div id="avatarlist" style="background-color: white; border-color: black; overflow-y: scroll; height: 200px">
								<img style="cursor:pointer; width: 100px" class="img-polaroid" src="{% static 'avatar/CD-Music.png' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/image.png' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/leftarrow_izquierda_5815 (1).png' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/png_man_hearing_music.png' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/tumblr_static_bi2dk2r94tw8008k0okkwgkww.png' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/P_Classic_Music.png' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/0_520a6_50f14bb5_L.jpg' %}">
				                <img style="cursor:pointer; width: 100px;" class="img-polaroid" src="{% static 'avatar/image (1).png' %}">
							</div>
				    	</div>				      
				    </div>
				  </div>
				</div>				
		    </div>		
		    <div class="col-md-6">
		    		<div align="center" style="min-height: 32px;">
		    			<div class="clearfix">
							<div class="btn-group inline pull-left" id="texteditor" style="">
								<button style="height: 36px" id="font-family" class="btn" data-toggle="dropdown"                                     title="Font Style">
                                    <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                                </button>
							    <ul class="dropdown-menu" role="menu" aria-labelledby="font-family-X">
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Arial');" class="Arial">Arial</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Helvetica');" class="Helvetica">Helvetica</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Myriad Pro');" class="MyriadPro">Myriad Pro</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Delicious');" class="Delicious">Delicious</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Verdana');" class="Verdana">Verdana</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Georgia');" class="Georgia">Georgia</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Courier');" class="Courier">Courier</a>
                                    </li>
								    <li>
                                        <a tabindex="-1" href="#" onclick="setFont('Comic Sans MS');" class="ComicSansMS">Comic Sans MS</a>
                                    </li>
								    <li><a tabindex="-1" href="#" onclick="setFont('Impact');" class="Impact">Impact</a></li>
								    <li><a tabindex="-1" href="#" onclick="setFont('Monaco');" class="Monaco">Monaco</a></li>
								    <li><a tabindex="-1" href="#" onclick="setFont('Optima');" class="Optima">Optima</a></li>
								    <li><a tabindex="-1" href="#" onclick="setFont('Hoefler Text');" class="Hoefler Text">Hoefler Text</a></li>
								    <li><a tabindex="-1" href="#" onclick="setFont('Plaster');" class="Plaster">Plaster</a></li>
								    <li><a tabindex="-1" href="#" onclick="setFont('Engagement');" class="Engagement">Engagement</a></li>
				                </ul>
							    <button style="height: 36px" id="text-bold" class="btn" data-original-title="Bold">
                                    <span class="glyphicon glyphicon-bold"aria-hidden="true"></span>
                                </button>
							    <button style="height: 36px" id="text-italic" class="btn" data-original-title="Italic">
                                    <span class="glyphicon glyphicon-italic"aria-hidden="true"></span>
                                </button>
							    <button style="height: 36px" id="text-strike" class="btn" title="Strike" style="">
                                    <i><img src="{% static 'fonts/strike.png' %}" width="14"></i>
                                </button>
							 	<button style="height: 36px" id="text-underline" class="btn" title="Underline" style="">
                                    <i><img src="{% static 'fonts/underline.png' %}" width="14"></i>
                                </button>
                                <button class="btn">
                                    <a style="height: 10px" href="#" rel="tooltip" data-placement="top" data-original-title="Font Color">
                                    <input type="hidden" id="text-fontcolor" class="color-picker" size="7" value="#000000">
                                </a>
                                </button>
                                <button class="btn">
						 		<a class="" href="#" rel="tooltip" data-placement="top" data-original-title="Font Border Color"><input type="hidden" id="text-strokecolor" class="color-picker" size="7" value="#000000"></a>
                                    </button>
								  <!--- Background <input type="hidden" id="text-bgcolor" class="color-picker" size="7" value="#ffffff"> --->
							</div>
							<div class="pull-right" align="" id="imageeditor" style="">
							  <div class="btn-group" onclick="flip_canvas()">
							      <button style="height: 36px" class="btn" id="bring-to-front" title="Bring to Front">
                                      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                  </button>
							      <button style="height: 36px" class="btn" id="send-to-back" title="Send to Back">
                                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                  </button>
							      <button style="height: 36px" id="flip" type="button" class="btn" title="Show Back View">
                                      <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                  </button>
							      <button style="height: 36px" id="remove-selected" onclick="" class="btn" title="Delete selected item">
                                      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                  </button>
							  </div>
							</div>			  
						</div>												
					</div>					  		
				<!--	EDITOR    -->
					<div id="shirtDiv" onclick="flip_canvas()" class="page" style="width: 530px; height: 450px; position: relative; background-color: rgb(255, 255, 255);">
						<img id="tshirtFacing" src="{{ clothe.front_img.url }}" name="front">
                            <div id="drawingArea" style="position: absolute; top: 80px;left: 135px;z-index: 10;width: 300px;height: 400px;">
							<canvas id="tcanvas" width=230 height="350" class="hover" style=""></canvas>
						</div>
					</div>
<!--					<div id="shirtBack" onclick="saveCanvas()" class="page" style="width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255);">-->
<!--						<img src="img/crew_back.png"></img>-->
<!--						<div id="drawingArea" style="position: absolute;top: 100px;left: 160px;z-index: 10;width: 200px;height: 400px;">					-->
<!--							<canvas id="backCanvas" width=200 height="400" class="hover" style="-webkit-user-select: none;"></canvas>-->
<!--						</div>-->
<!--					</div>						-->

				<!--	/EDITOR		-->
		    </div>
		    <div class="col-md-3 col-md-3-body" style="margin-left: 0; margin-top: 1%; background-color: white; ">
                <p style="text-align: center; font-size: large">Форма для заказа</p>
                <form method="post" onclick="flip_canvas()">
                        {% csrf_token %}
                        <input type="hidden" value="{{ clothe.clothe_name }}" name="clothe_name">
                        <input type="hidden" value="{{ clothe.id }}" name="clothe">
                        <input type="hidden" value="{{ clothe.clothe_price }}" name="clothe_price">
                        {% for t in types %}
                        	<script type="text/javascript">
                        		sessionStorage.setItem('{{t.id}}', '{{ t.price }}')
                        	</script>
                        {% endfor %}
                        <h5><strong>Размера</strong></h4>
<!--                         {% for sizes in clothe.sizes.all %}
                            {{ sizes }}
                            <input type="checkbox" class="" value="{{ sizes.id }}" name="size">
                        {% endfor %} <br> -->
                        <select class=" form-control" id="id_size" name="size">
							<option value="" selected="selected">---------</option>
							{% for sizes in clothe.sizes.all %}
								<option value="{{ sizes.id }}">{{ sizes }}</option>
							{% endfor %}
						</select>
						<h5><strong>Тип изоброжение</strong></h4>
                        <select class=" form-control" id="id_print_type" name="print_type">
							<option value="" selected="selected">---------</option>
							{% for type in types %}
								<option value="{{ type.id }}">{{ type.type_name }}</option>
							{% endfor %}
						</select>
                        {{ form.city_name|bootstrap }}
                        {{ form.quantity|bootstrap}}
                        {{ form.address|bootstrap }}
                        {{ form.phone_number|bootstrap }}
                        <h5><strong>Общая сумма</strong></h4>
                        <p id="all_sum">0 сом</p>
                        <div id="savedFrontContainer">
                            <input type="hidden" id="savedImageCopyFront" name="canvas_img_front">
                        </div>
                        <div id="savedBackContainer">
                            <input type="hidden" id="savedImageCopyBack" name="canvas_img_back">
                        </div>
                        <button class="btn btn-primary" type="submit">Оформить заказ</button>
                    </form>
		    </div>
		
		  </div>
		
		</section>
    </div><!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript">
  function canvas_off(){
  	// t_canvas = document.getElementsByClassName('upper-canvas')[0]
  	// // t_canvas[0].outerHTML = $(editor[i])[0].outerHTML.replace('data-mce-style="color: red;"', '');
  	// var str = t_canvas.style.cssText
  	// if(str.indexOf('cursor: default;') >= 0){
  	// 	t_canvas.style.cssText ='position: absolute; width: 230px; height: 350px; left: 0px; top: 0px; user-select: none; cursor: default;'
  	// }
  	// console.log(t_canvas.style.cssText)
  }
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35639689-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  var a;
  var b;
  var c;
  var d;
	   $('#flip').click(
		   function() {
			   	if ($(this).attr("data-original-title") == "Show Back View") {
			   		$(this).attr('data-original-title', 'Show Front View');
			        $("#tshirtFacing").attr("src","{{ clothe.back_img.url }}");
			        a_value = document.getElementById("savedImageCopyFront").value;
                	a = JSON.stringify(canvas);
                    document.getElementById('tshirtFacing').name = 'back';
                    if(a != '{"objects":[],"background":"rgba(0, 0, 0, 0)"}'){
                    	console.log(a)
			        	document.getElementById("savedImageCopyFront").value = a;
                    }
                    canvas.clear();
			        try
			        {
			           var json = JSON.parse(b);
			           canvas.loadFromJSON(b);
			        }
			        catch(e)
			        {}

			    } else {
			    	$(this).attr('data-original-title', 'Show Back View');
			    	$("#tshirtFacing").attr("src","{{ clothe.front_img.url }}");
			    	b = JSON.stringify(canvas);
			    	if(b != '{"objects":[],"background":"rgba(0, 0, 0, 0)"}'){
                    	console.log(b)
                    	document.getElementById("savedImageCopyBack").value = b;
                    }
                    document.getElementById('tshirtFacing').name = 'front';
                    canvas.clear();
			    	try
			        {
			           var json = JSON.parse(a);
			           canvas.loadFromJSON(a);

			        }
			        catch(e)
			        {}
			    }
			   	canvas.renderAll();
			   	setTimeout(function() {
			   		canvas.calcOffset();
			    },200);
        });
		   function flip_canvas(){
		   		var x = document.getElementById("id_quantity").value;
		   		var type = $("#id_print_type option:selected").text();
		   		var value = $("#id_print_type option:selected")[0].value;
		   		var data = sessionStorage.getItem(value);
		   		var tshirt_price = x * parseInt("{{ clothe.clothe_price }}")
		   		var print_price = x * parseInt(data)
		   		var all_sum = tshirt_price + print_price
		   		document.getElementById("all_sum").innerHTML = all_sum + ' сом'
		   		console.log("{{ clothe.clothe_price }}")
			   	if (document.getElementById('tshirtFacing').name == 'front') {
			        c = JSON.stringify(canvas);
			        if(c !== '{"objects":[],"background":"rgba(0, 0, 0, 0)"}'){
                    	console.log(c)
                    	document.getElementById("savedImageCopyFront").value = c;
                    }
                    // document.getElementById("savedImageCopyFront").value = c;
			    } else if(document.getElementById('tshirtFacing').name == 'back') {
                    d = JSON.stringify(canvas);
                    if(d !== '{"objects":[],"background":"rgba(0, 0, 0, 0)"}'){
                    	// console.log(b)
                    	document.getElementById("savedImageCopyBack").value = d;
                    }
                    // document.getElementById("savedImageCopyBack").value = d;
			    }
			   	canvas.renderAll();
			   	setTimeout(function() {
			   		canvas.calcOffset();
			    },200);
        }

        document.getElementById('imgLoader').onchange = function
		handleImage(e) {
			var reader = new FileReader();
			reader.onload = function (event) {
				var imgObj = new Image();
				imgObj.src = event.target.result;
				imgObj.onload = function () {
					// start fabricJS stuff

					var image = new fabric.Image(imgObj);
					image.set({
						left: 80,
						top: 120,
						scaleX: 0.22,
        				scaleY: 0.3
					});
					//image.scale(getRandomNum(0.1, 0.25)).setCoords();
					canvas.add(image);

					// end fabric JS stuff
{#                    var def_img = document.getElementById('def_img').src;#}
{#        var default_img = new fabric.Image(def_img);#}
{#        default_img.set({#}
{#						left: 100,#}
{#						top: 100#}
{#					});#}
{#        canvas.add(default_img)#}
				}

			};
			reader.readAsDataURL(e.target.files[0]);
		};
</script>
  </body>
</html>
{% endblock %}