{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12" style="margin-top: 100px">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <table class="table">
        <caption>Лист заказов</caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Номер телефона</th>
            <th>Количество заказаного товара</th>
            <th>Дата заказа</th>
            <th>Сслка на заказ</th>
        </tr>
        </thead>
        <tbody>
        {% for buy_list in buy_list %}
        <tr>
            <th scope="row">{{ buy_list.id }}</th>
            <td>{{ buy_list.phone_number }}</td>
            <td>{{ buy_list.quantity }}</td>
            <td>{{ buy_list.date }}</td>
            <td><a href="{% url 'admin_panel' buy_list.id %}">Пройти по сслке</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}