{% extends 'base.html' %}
{% block content %}
    <div class="col-md-11 col-md-12-table" style="">
        <div class="col-md-3 col-md-3-body" style="">
        <h4>Меню</h4> <hr>
            <ul class="nav nav-pills nav-stacked">
                {% for c_type in c_type %}
                    <li role="presentation" class="active"><a href="#">{{ c_type.name }}</a> <br></li>
                {% endfor %}
            </ul>
        </div>
    {% block index %}
{#        <h2 style="text-align: center">Bся информаця о соии</h2>#}
        <div class="col-md-8 col-md-8-body">
            {% for index in index %}
              <div class="col-sm-5 col-md-4" style="margin-top: 2%">
                <div class="thumbnail">
                  <img src="{{ index.front_img.url }}" alt="..." style="height: 35%; width: 100%;">
                  <div class="caption" style="background-color: #a6a7a3">
                    <h4>{{ index.clothe_name }}</h4>
                    <p>Цена: {{ index.clothe_price }}</p>
                    <p>Размеры: {% for sizes in index.sizes.all %}
                        {{ sizes }}
                    {% endfor %}</p>
                    <p> <a href="{% url 'clothe_editor' index.id %}" class="btn btn-primary" role="button">Редактировать</a></p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    {% endblock %}
    </div>
{% endblock %}
